certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
cloudpickle==2.0.0
colorama==0.4.4
Flask==2.0.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
numpy==1.21.2
requests==2.26.0
scikit-learn==0.24.1
scipy==1.7.1
sklearn==0.0
threadpoolctl==2.2.0
urllib3==1.26.7
Werkzeug==2.0.1
gunicorn